.checkout_item_container {
  display: flex;
  margin: 10px 0;
  padding: 10px 0;
  border-bottom: 1px solid #dad9d6;
}

.checkout_item_container:last-child {
  border: none;
}

.checkout_item__name,
.checkout_item__star,
.checkout_item__price,
.checkout_item_remove_btn {
  margin: 5px 0;
}

.checkout_item_remove_btn {
  border-radius: 5px;
  border: none;
  background-color: #f7ca00;
  padding: 5px 15px;
  cursor: pointer;
}
