.home {
  max-width: 1500px;
  text-align: center;
  margin: auto;
  background-color: #eaeded;
}

.site_banner {
  width: 100%;
  height: 100%;
  margin-bottom: -300px;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  z-index: -1;
}

.card__one {
  display: flex;
  justify-content: space-evenly;
}

.item__card__one {
  display: flex;
  justify-content: space-evenly;
}
