.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login_logo {
  width: 100px;
  margin: 20px 0;
  padding: 0 auto;
  object-fit: contain;
}

.login_container {
  width: 300px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 20px;
}

.login_btn {
  width: 100%;
  background-color: #f1c85f;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  margin: 20px 0 0 0;
  cursor: pointer;
}

.login_email,
.login_password {
  width: 100%;
  height: 20px;
}

.login_new_ac_btn {
  width: 100%;
  padding: 5px;
  cursor: pointer;
}

.email_h5,
.password_h5 {
  margin: 10px 0 10px 0;
}

.login_form {
  display: flex;
  flex-direction: column;
}

.login_new_link {
  width: 300px;
}
